@font-face {
    font-family: 'iconfont';  /* project id 561407 */
    src: url('https://at.alicdn.com/t/font_561407_2rg57f3hbmdyrpb9.eot');
    src: url('https://at.alicdn.com/t/font_561407_2rg57f3hbmdyrpb9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_561407_2rg57f3hbmdyrpb9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_561407_2rg57f3hbmdyrpb9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_561407_2rg57f3hbmdyrpb9.svg#iconfont') format('svg');
}
header,main,footer{
    width: 100%;
}
#head{
    width: 100%;
    height: 5.65rem;
    background-color: blue;
    color: #fff;
}
.mine{
    margin-left: 0.32rem;
    margin-top: 0.8rem;
    display: inline-block;
    font-size: 0.62rem;

}
#head .icon{
    font-family: 'iconfont';
    font-size: 0.62rem;

}
#head .icon1{
    float: right;
    margin-right: 0.4rem;
}
.info{
    margin-top: 0.95rem;

}
.info p{
    margin-top: 0.6rem;
    float: left;
    font-size: 0.5rem;
    margin-left: 0.3rem;
    width: 6rem;

}
.info .shouji{
    margin-top: 0.2rem;
    font-size: 0.34rem;
}
#head .icon3{
    font-size: 0.34rem;
}
#head .icon4{
    margin-left: 0.3rem;
    margin-top: 1rem;
    display: inline-block;
}
#head .icon2{
    font-size:2.14rem;
    margin-left: 0.53rem;
    display: inline-block;
    float: left;

}
#main{
    width: 100%;
    height: 11.88rem;
    position:absolute;
    top:5.65rem;
    bottom: 1.67rem;
    left: 0;
    background-color: #c8c8c8;
    overflow: auto;
}
#main::-webkit-scrollbar{/* 伪类选择器 */
    display: none;/* 消失 */
    /* display: block; *//* 显示 */
}
main .icon{
    font-family: 'iconfont';
}
.top{
    width: 100%;
    height: 2.41rem;
    background-color: #fff;
}
.top_item{
    width: 33.3vw;
    height: 100%;
    border: 1px solid #ccc;
    float: left;
    text-align: center;
}
.top_item span{
    width: 100%;
    display: block;
    font-size: 0.4rem;
    margin-top: 0.2rem;
}
.top_item .icon{
    font-size: 0.4rem;
    margin-top: 0.6rem;
    color: red;
}
.mid{
    margin-top: 0.2rem;
}
.mid_item{
    width: 100%;
    height: 1.42rem;
    line-height: 1.42rem;
    font-size: 0.5rem;
    border: 0.01rem solid #ccc;
    background-color: #fff;
}
.mid_item2{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.mid_item .icon{
    margin-left: 0.6rem;
    margin-right: 0.3rem;
}
.mid_item .icon1{
    color: red;
}
.mid_item .icon2{
    color: green;
}
.mid_item .icon3{
    color: blue;
}
.mid_item .icon5{
    color: orangered;
}
.mid_item .icon5{
    color: orange;
}
.mid_item .icon6{
    color: skyblue;
}
.mid_item .beizhu{
    float: right;

    margin-right: 0.5rem}
#foot{
    position: absolute;
    width: 100%;
    height:1.67rem;
    bottom: 0;
    left: 0;
    background-color: #ccc;
}
#foot .icon{
    font-family: 'iconfont';
    font-size: 0.6rem;
    color: #888888;
    margin-right: 2.1rem;
    float: left;
    margin-top: 0.3rem;
}
#foot .icon1{
    margin-left: 1.05rem;
}
#foot .icon2{
    margin-right:1.05rem;
    color: #0B96FF;
}
#foot .name{
    font-size: 0.3rem;
    color: #999;
    margin-right: 2.1rem;
    float: left;
}
#foot .name a{
    color: #999;
}
#foot .name1{
    margin-left: 1.05rem;
}
#foot .name2{
    margin-right: 1.05rem;
    color: #007aff;
}